In [1]:
pip install kafka-python

Requirement already satisfied: kafka-python in /Users/ter./anaconda3/lib/python3.11/site-packages (2.1.3)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
from kafka import KafkaConsumer, KafkaProducer
from time import sleep 
from json import dumps
import json

In [2]:
producer = KafkaProducer(bootstrap_servers=['13.251.157.88:9092'], #change ip here
                         value_serializer=lambda x: dumps(x).encode('utf-8')
                        )

In [3]:
producer.send('demo_testing2', value="{'msg':'krub_eiei_2'}")

In [4]:
df = pd.read_csv("indexProcessed.csv")

In [5]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [6]:
df.sample(1)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
79438,NSEI,2019-07-12,11601.15039,11639.54981,11538.59961,11552.5,11552.5,359400.0,115.525

In [7]:
df.sample(1).to_dict()

{'Index': {77019: 'NSEI'},
 'Date': {77019: '2009-08-13'},
 'Open': {77019: 4458.549805},
 'High': {77019: 4614.149902},
 'Low': {77019: 4458.549805},
 'Close': {77019: 4605.0},
 'Adj Close': {77019: 4605.0},
 'Volume': {77019: 0.0},
 'CloseUSD': {77019: 46.05}}

In [8]:
df.sample(1).to_dict(orient="records")

[{'Index': 'IXIC',
  'Date': '2009-02-03',
  'Open': 1499.589966,
  'High': 1521.209961,
  'Low': 1479.420044,
  'Close': 1516.300049,
  'Adj Close': 1516.300049,
  'Volume': 2049840000.0,
  'CloseUSD': 1516.300049}]

In [9]:
while True:
    dict_stoc = df.sample(1).to_dict(orient="records")[0]  # Get a random stock data
    producer.send('demo_testing2', value=dict_stoc)  # Send to Kafka
    sleep(1)  # Wait for 7 seconds before sending the next message

KeyboardInterrupt: